//  ROOT
lang= en
dir= ltr
align= left
align-alt= right

//  FONTS
family-body= Muli, font-stack('Helvetica')
weight-regular= 600
weight-bold= 700
font-default= 14px
font-small= 12px
font-heading1= 30px
font-heading2= 16px

//  LOAD FILES
@import "load"
