extends ../layouts/public

block content
  .wrapper
    
    //- include land
    
    //- survey
      //- utilities
        //- include navigation
        //- include pagination
      
      //- main
        //- include logo
        //- include texts
        //- include questions
