extends ../layouts/public

block content
  .wrapper
    
    include ../includes/land
    
    #survey
      .background
      include ../includes/questions
      include ../includes/navigation
      include ../includes/pagination
    
    include ../includes/nucubuc
    include ../includes/present
