extends ../layouts/public

block content
  .wrapper
    
    include ../includes/land
    
    #survey
      include ../includes/navigation
      //- include pagination
      //- include questions
    
    include ../includes/nucubuc
    include ../includes/present
