extends ../layouts/public

block content
  .wrapper
    
    //- include land
    
    include ../includes/nucubuc
    //- include present
    
    //- survey
      //- include navigation
      //- include pagination
      //- include questions
