#land
  
  //- BACKGROUND
  .background
  
  //- NUCUBUC FLAT
  include nuotronFlat

  //- REACH
  .reach: a.link(href=root.reach.url title=root.reach.text target="_blank")= root.reach.text
  
  //- TEXT
  ul.text
    each item in callback.success
      li
        each line in item
          .h1.spans= line
