#land
  //- BACKGROUND
  .background
    - for (var a = 0; a < 4; a++)
      div
  
  //- NUCUBUC FLAT
  a.nucubucFlat(href=root.url title="Nucubuc")
    .symbol
    svg(version="1.1" viewBox="0 0 110 19")
      path(d="M13,17v-5.6c0-3-2.5-5.4-5.5-5.4S2,8.4,2,11.4V17")
      path(d="M29,6v5.6c0,3-2.5,5.4-5.5,5.4S18,14.6,18,11.6V6")
      path(d="M44,6.8C42.9,5.7,41.5,5,39.9,5C36.6,5,34,7.7,34,11c0,3.3,2.6,6,5.9,6c1.6,0,3.1-0.7,4.1-1.8")
      path(d="M60,6v5.6c0,3-2.5,5.4-5.5,5.4S49,14.6,49,11.6V6")
      path(d="M65,2v9l0,0c0,3.3,2.7,6,6,6s6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6")
      path(d="M93,6v5.6c0,3-2.5,5.4-5.5,5.4S82,14.6,82,11.6V6")
      path(d="M108,6.8c-1.1-1.1-2.5-1.8-4.1-1.8c-3.2,0-5.9,2.7-5.9,6c0,3.3,2.6,6,5.9,6c1.6,0,3.1-0.7,4.1-1.8")
