#land
  //- BACKGROUND
  .background
    - for (var a = 0; a < 4; a++)
      div
  
  //- NUCUBUC FLAT
  include nucubucFlat

  //- LINK
  a.link(href=root.reach.url title=root.reach.text)= root.reach.text
