#land
  
  //- BACKGROUND
  .background
    - for (var a = 0; a < 4; a++)
      div
  
  //- NUCUBUC FLAT
  include nucubucFlat

  //- REACH
  .reach: a.link(href=root.reach.url title=root.reach.text target="_blank")= root.reach.text
  
  //- TEXT
  ul.text
    each item in callback.success
      li
        each line in item
          .h1.spans= line

  //- SOCIAL
  include social
