#nucubuc(title="Nucubuc")
  
  .symbol
    - for (var a = 0; a < 4; a++)
      div: div
  
  .letters
    svg(version="1.1", viewBox="0 0 84 84")
      path.n(d="M56,57V42.6C56,35.1,49.7,29,42,29s-14,6.1-14,13.6V57")
