ul#present.blocks
  each item, index in present.list
    li(id=`p${index+1}` data-time=item.time)
      each line in item.text
        h2.spans= line
      
      //- BUTTON
      if(index+1==6)
        #start: a.button(href='#' title=present.start)= present.start
