ul#present.blocks
  each text, index in present.list
    li(id=`p${index+1}`)
      each line in text
        h2.spans= line
      if(index+1==6)
        a.button(id=present.start href='#')= present.start
