landPaddingVert= baseline*2
landPaddingHorz= baseline*2.25
landColors= (#fff685 #7ecbb6 #9f6eaf magenta)
// colors:   yellow  green   purple  magenta

#land
  makeAbsolute: 0, 0, 0, 0
  a
    hasOutline: #fff
.survey.callback.success #land
  z-index: 10

//  BACKGROUND
#land .background
  makeAbsolute: 0 0 0 surveyWidth
  > div
    makeAbsolute: 0 0 0 100%
    multiTransition: 1 4 durationAlt
    for child in (0..3)
      &:nth-child({child+1})
        background-color: landColors[child]
    &:nth-child(4):after
      content: ''
      display: block
      makeAbsolute: 100% 0 0 0
      transition: inherit
      background-image: linear-gradient(transparent, magenta-alt)
.survey #land .background > div
  {align-alt}: 0
  &:nth-child(4):after
    top: 0
.survey.callback.success #land .background > div
  {align-alt}: -150%

//  Z-INDEX
#land #nucubucFlat,
#land .reach,
#land .text,
#land .social
  z-index: -1
.survey #land #nucubucFlat,
.survey #land .reach,
.survey #land .text,
.survey #land .social
    z-index: 2

//  NUCUBUC FLAT
#land #nucubucFlat
  makeAbsolute: landPaddingVert (landPaddingHorz - nucubucFlat-margin)

//  REACH
#land .reach
  makeAbsolute: landPaddingVert auto auto surveyWidth
  margin-{align-alt}: landPaddingHorz
  opacity: 0
  hasTransition: durationAlt duration
  .link
    line-height: nucubucFlat-height
    color: #fff
.survey #land .reach
  opacity: 1
.survey.callback.success #land .reach
  {align-alt}: 0
  hasTransition: durationAlt 0 step*6

//  TEXT
#land .text
  makeAbsolute: auto landPaddingHorz landPaddingVert
  li
    makeAbsolute: auto 0 0
    white-space: nowrap
    .h1
      color: #fff

//  SOCIAL
#land .social
  makeAbsolute: auto landPaddingHorz ((landPaddingVert - social-height)/2)
