landPaddingVert= baseline*2
landPaddingHorz= baseline*2.25

#land
  makeAbsolute: 0, 0, 0, 0
  a
    hasOutline: #fff
.survey.callback.success #land
  z-index: 10

//  BACKGROUND
#land .background
  makeAbsolute: 0 0 0 100%
  hasTransition: durationAlt
  background-color: dark-blue
  background-image: linear-gradient(dark-blue, dark-blue-alt)
  &:after
    content: ''
    display: block
    makeAbsolute: 0 0 0 0
    background-image: url('../images/land.png')
    background-repeat: no-repeat
    background-position: right bottom
.survey.callback.success #land .background
  {align-alt}: 0
@media (min-width: delta)
  .survey #land .background
    {align-alt}: surveyWidth

//  Z-INDEX
#land #nuotronFlat,
#land .reach,
#land .text
  z-index: -1
.survey #land #nuotronFlat,
.survey #land .reach,
.survey #land .text
  z-index: 2
.survey.callback.success #land
  visibility: visible
@media (max-width: delta - 1)
  .survey #land
    visibility: hidden

//  NUOTRON FLAT
#land #nuotronFlat
  makeAbsolute: landPaddingVert (landPaddingHorz - nuotronFlat-margin)
@media (max-width: beta - 1)
  .survey.callback.success #land #nuotronFlat
    {align}: 50%
    transform: translateX(-50%)

//  REACH
#land .reach
  makeAbsolute: landPaddingVert auto auto surveyWidth
  margin-{align-alt}: landPaddingHorz
  opacity: 0
  hasTransition: durationAlt duration
  .link
    line-height: nuotronFlat-height
    white-space: nowrap
    color: #fff
.survey.callback.success #land .reach
  {align-alt}: 0
  opacity: 1
  hasTransition: durationAlt 0 step*6
@media (min-width: delta)
  .survey #land .reach
    opacity: 1
@media (max-width: beta - 1)
  .survey.callback.success #land .reach
    top: landPaddingVert + nuotronFlat-height + nuotronFlat-margin
    {align-alt}: 50%
    margin-{align-alt}: 0
    transform: translateX(50%)

//  TEXT
#land .text
  makeAbsolute: baseline*4.5 landPaddingHorz
  li
    makeAbsolute: 0 0
    white-space: nowrap
    .h1
      color: #fff
.survey.callback.success #land .text .current .spans > span
  z-index: 1
  opacity: 1
  transform: translateY(0) !important
@media (max-width: delta - 1)
  .survey #land .text .current .spans > span
    z-index: auto
    opacity: 0
    transform: translateY(heading1-height) !important
@media (max-width: beta - 1)
  .survey.callback.success #land .text
    {align}: 50%
    li
      text-align: center
      transform: translateX(-50%)
      .h1
        font-size: font-heading2
