#present,
#callback
  makeAbsolute: 50% 0 auto 0
  nucubucMargin: presentHeight
  hasTransition: durationAlt
  li
    makeAbsolute()
    text-align: center
@media (min-width: delta)
  .survey #present,
  .survey #callback
    {align}: 100% - surveyWidth
#callback
  z-index: -1
.callback #callback
  z-index: auto

//  START BUTTON
#start
  display: none
  width: baseline*1.5
  opacity: 0
  transform: translateX(-50%)
  makeAbsolute: baseline*2 + 10px 50%
  .button
    width: 100%
.start #start,
.questions #start
  display: block
  width: button-width
  opacity: 1
  hasTransition: durationAlt
.questions #start
  display: none
  hasTransition()
  opacity: 0

//  START HINT
#startHint
  @extend .small
  makeAbsolute: (baseline*2 + 10px + button-height + (baseline/2)) 50%
  transform: translateX(-50%)
.current #startHint > span
  multiTransition: 1 15 duration step+duration
@media (max-width: delta - 1)
  .current #startHint > span
    z-index: auto
    opacity: 0
    transform: translateY(baseline) !important
