#present
  makeAbsolute: 50%, 0
  li
    makeAbsolute: 0, auto
    text-align: center
    span
      transform: translateY(baseline*2)
      opacity: 0
      // backface-visibility: hidden
      // perspective: 1000
