questions-width= baseline*9.75
questionsHeights= feelingHeight, spellingHeight, impressionFirstHeight, impressionNowHeight, impressionChangedHeight, valueHeight, nonValueHeight, mistakeHeight, expectationHeight, expectationNowHeight, messageNuotronHeight, messageYahiaHeight, contactHeight

#questions
  makeAbsolute: 50% 50%
  width: questions-width
  margin-{align}: -(questions-width/2)
  &:before
    content: ''
    z-index: -1
    display: block
    makeAbsolute()
    width: 100%
    height: contactHeight + input-height
    margin-top: -(contactHeight/2)

  > li
    makeAbsolute()
    z-index: -2
    for question, i in questionsHeights
      &:nth-child({i+1})
        nuotronMargin: question
    .small
      margin-bottom: baseline*.25
    .q
      margin-bottom: baseline*.75
      font-weight: weight-bold
      color: text-dark-alt
    .answer
      opacity: 0
      transform: translateY(input-height)
      hasTransition()
    &.current
      z-index: auto
      .answer
        opacity: 1
        transform: translateY(0)
        hasTransition: duration 0 step*6
