surveyPaddingTop= baseline*2
surveyPaddingBottom= baseline
surveyPaddingHorz= baseline*2.25
surveyItems= 13

navigationGap= 4px
navigationHeight= 8px

paginationGap= baseline/2
ellipseHeight= 32px
numberWidth= baseline*2.5
numberHeight= baseline*1.5

#survey
  makeAbsolute: 0 0 0 0
  hasTransition: durationAlt
@media (min-width: delta)
  #survey
    {align}: 100% - surveyWidth

//  BACKGROUND
#survey .background
  makeAbsolute: 0 0 0 0

//  Z-INDEX
#navigation,
#previous,
#next,
#currentQuestion
  z-index: -1
.questions #navigation,
.questions:not(.feeling) #previous,
.questions #next
.questions #currentQuestion
  z-index: auto

//  NAVIGATION
#navigation
  display: block
  makeAbsolute: surveyPaddingTop (baseline - navigationGap) auto (baseline - navigationGap)
  hasTransition: durationAlt
  li
    width: (100%/surveyItems)
    height: navigationHeight
    padding: 0 navigationGap
    multiTransition: 1 surveyItems durationAlt
    opacity: 0
    a
      display: block
      width: 100%
      height: 100%
      border-radius: 3px
      background-color: border-dark
      focusEffect()
      &:hover
        background-color: magenta
    &.current a,
    &.achieved a
      background-color: magenta
.questions #navigation li
  opacity: 1
@media (min-width: beta)
  #navigation
    {align}: surveyPaddingHorz - navigationGap
    {align-alt}: surveyPaddingHorz - navigationGap

//  PAGINATION
#pagination
  makeAbsolute: auto baseline surveyPaddingBottom baseline
  hasTransition: durationAlt
  a
    hasOutline: transparent
@media (min-width: beta)
  #pagination
    {align}: surveyPaddingHorz
    {align-alt}: surveyPaddingHorz

//  PREVIOUS & NEXT
#previous,
#next
  display: block
  makeAbsolute: auto auto 0
  width: numberHeight
  height: numberHeight
  > span
    makeAbsolute: ellipseHeight auto
    line-height: ellipseHeight
    color: text-light-alt
    white-space: nowrap
    opacity: 0
    hasTransition: duration 0 step*pattern
  .ellipse
    makeAbsolute: 0 auto
    width: numberHeight
    height: numberHeight
    border-radius: 50%
    background-color: border-default
    opacity: 0
    hasTransition()
    &:before
      content: ''
      display: block
      makeAbsolute: 50% auto
      width: 15px
      height: 2px
      margin-top: -(2px/2)
      hasTransition()
    &:after
      content: ''
      display: block
      makeAbsolute: 50% 50% 50% 50%
      border-radius: 50%
      background-color: rgba(255, 255, 255, .5)
    svg
      display: block
      makeAbsolute: 0 auto
      width: numberHeight
      height: numberHeight
      fill: text-light
      hasTransition()
#previous
  {align-alt}: numberHeight + paginationGap - 4px
  > span
    {align}: ellipseHeight + paginationGap
  .ellipse
    {align}: 0
    &:before
      {align}: 100%
    svg
      {align}: ellipseHeight
#next
  {align-alt}: -4px
  > span
    {align-alt}: ellipseHeight + paginationGap
  .ellipse
    {align-alt}: 0
    &:before
      {align-alt}: 100%
    svg
      {align-alt}: ellipseHeight
@media (max-width: gamma - 1)
  #previous,
  #next
    overflow: hidden
@media (min-width: gamma)
  #previous,
  #next
    bottom: ((numberHeight - ellipseHeight)/2)
    width: ellipseHeight + paginationGap
    height: ellipseHeight
    .ellipse
      width: ellipseHeight
      height: ellipseHeight
      &:before
        width: 11px
      svg
        width: ellipseHeight
        height: ellipseHeight
  #previous
    {align}: -4px
    {align-alt}: auto
.questions:not(.feeling) #previous,
.questions #next
  .ellipse
    opacity: 1
  &:hover
    > span
      color: text-dark-alt
    .ellipse
      background-color: magenta
      &:before
        background-color: #fff
      svg
        fill: #fff
  &:focus .ellipse:after
    makeAbsolute: 0 0 0 0
    background-color: transparent
    hasTransition()
@media (min-width: gamma)
  .questions:not(.feeling) #previous > span,
  .questions:not(.contact) #next > span:not(.submit),
  .questions.contact #next > span.submit
    top: 0
    opacity: 1
.questions:not(.feeling) #previous
  .ellipse svg
    {align}: 0
  &:hover .ellipse
    &:before
      {align}: 15px
    svg
      {align}: -(translate/4)
.questions #next
  .ellipse svg
    {align-alt}: 0
  &:hover .ellipse
    &:before
      {align-alt}: 15px
    svg
      {align-alt}: -(translate/4)
@media (min-width: gamma)
  .questions:not(.feeling) #previous:hover .ellipse:before
    {align}: 11px
  .questions #next:hover .ellipse:before
    {align-alt}: 11px

//  CURRENTQUESTION
#currentQuestion
  makeAbsolute: auto 0 0
  width: (numberWidth/2)
  height: numberHeight
  border-radius: (numberHeight/2)
  margin-{align}: -4px
  line-height: numberHeight
  opacity: 0
  hasTransition()
  background-color: border-dark
  color: text-default
  ul
    makeAbsolute: 0 auto auto 50%
    margin-{align-alt}: 4px
    li
      makeAbsolute: 0 auto auto 0
      text-align: align-alt
      opacity: 0
      transform: translateY(numberHeight)
      hasTransition()
      cursor: default
      &.current
        opacity: 1
        transform: translateY(0)
        hasTransition: duration step
        cursor: auto
  span
    makeAbsolute: 0 50%
    margin-{align}: -4px
.questions #currentQuestion
  width: numberWidth
  opacity: 1
@media (min-width: gamma)
  #currentQuestion
    {align}: 50%
    margin-{align}: -(numberWidth/4)
  .questions #currentQuestion
    margin-{align}: -(numberWidth/2)
