surveyPaddingTop= baseline*2
surveyPaddingBottom= baseline
surveyPaddingHorz= baseline*2.25
surveyItems= 13

navigationGap= 4px
navigationHeight= 8px

paginationGap= baseline/2
numberHeight= baseline*1.5
ellipseHeight= 32px

#survey
  makeAbsolute: 0 (100% - surveyWidth) 0 0

//  BACKGROUND
#survey .background
  makeAbsolute: 0 0 0 0

//  Z-INDEX
#navigation,
#pagination
  z-index: -1
.questions #navigation,
.questions #pagination
  z-index: auto

//  NAVIGATION
#navigation
  display: block
  makeAbsolute: surveyPaddingTop (surveyPaddingHorz - navigationGap) auto (surveyPaddingHorz - navigationGap)
  li
    width: (100%/surveyItems)
    height: navigationHeight
    padding: 0 navigationGap
    multiTransition: 1 surveyItems durationAlt
    opacity: 0
    a
      display: block
      width: 100%
      height: 100%
      border-radius: 3px
      background-color: border-dark
      focusEffect()
      &:hover
        background-color: magenta
    &.current a,
    &.achieved a
      background-color: magenta
.questions #navigation li
  opacity: 1

//  PAGINATION
#pagination
  makeAbsolute: auto surveyPaddingHorz surveyPaddingBottom surveyPaddingHorz
  height: numberHeight

//  PREVIOUS & NEXT
#previous,
#next
  display: block
  makeAbsolute: ((numberHeight - ellipseHeight)/2) auto
  width: ellipseHeight + paginationGap
  height: ellipseHeight
  > span
    makeAbsolute: ellipseHeight auto
    line-height: ellipseHeight
    color: text-light-alt
    opacity: 0
    hasTransition: duration 0 step*pattern
  .ellipse
    makeAbsolute: 0 auto
    width: ellipseHeight
    height: ellipseHeight
    border-radius: 50%
    background-color: border-default
    opacity: 0
    hasTransition()
    svg
      display: block
      makeAbsolute: 0 auto
      width: ellipseHeight
      height: ellipseHeight
      fill: text-light
      hasTransition()
#previous
  {align}: -4px
  > span
    {align}: ellipseHeight + paginationGap
  .ellipse
    {align}: 0
    svg
      {align}: ellipseHeight
#next
  {align-alt}: -4px
  > span
    {align-alt}: ellipseHeight + paginationGap
  .ellipse
    {align-alt}: 0
    svg
      {align-alt}: ellipseHeight
.questions:not(.feeling) #previous,
.questions:not(.contact) #next
  > span
    top: 0
    opacity: 1
  .ellipse
    opacity: 1
  &:hover,
  &:focus
    > span
      color: text-dark
    .ellipse
      background-color: magenta
      svg
        fill: #fff
.questions:not(.feeling) #previous
  .ellipse svg
    {align}: 0
  &:hover .ellipse svg
    {align}: -(translate/4)
.questions:not(.contact) #next
  .ellipse svg
    {align-alt}: 0
  &:hover .ellipse svg
    {align-alt}: -(translate/4)
