nucubuc-width= baseline*3
nucubuc-origin= nucubuc-width*2.3
nLetterPathLength= 73px
nucubuc-margin= baseline*1.5
nucubucMargin(container)
  margin-top: -(container/2) + nucubuc-width + nucubuc-margin

symbol(a, b, c)
  top: unit(a, px)
  left: unit(b, px)
  background-color: c
symbolRotate(min, max, delay=0)
  d= 0
  for i in min..max
    d= (d+step)*pattern
    &:nth-child({i})
      animation: rotate+i (duration*3) easing unit(delay+d, 's') infinite
      @keyframes rotate{i}
        100%
          transform: rotate(360deg)

#nucubuc
  makeAbsolute: 50%, 50%
  width: nucubuc-width
  height: nucubuc-width
  margin-top: -(presentHeight/2)
  margin-{align}: -(nucubuc-width/2)
  hasTransition: duration*3
.waiting #nucubuc
  margin-{align}: -(nucubuc-origin/2)
.survey #nucubuc
  {align}: 50% + ((100% - surveyWidth)/2)

#nucubuc div,
#nucubuc svg
  display: block
  makeAbsolute()

//  SYMBOL
#nucubuc .symbol
  width: nucubuc-width
  height: nucubuc-width
  > div
    width: nucubuc-origin
    height: nucubuc-width
    animation: none
    > div
      width: 78px
      height: 78px
      border-radius: 50%
    &:nth-child(1) > div
      symbol: 0, 6, nuc4
    &:nth-child(2) > div
      symbol: 1, 0, nuc3
    &:nth-child(3) > div
      width: 74px
      height: 74px
      symbol: 6, 3, nuc2
    &:nth-child(4) > div
      symbol: 6, 5, nuc1
.waiting #nucubuc .symbol > div
  symbolRotate: 1, 4

//  SVGS
#nucubuc .svgs
  width: nucubuc-width
  height: nucubuc-width
  svg
    fill: none
    stroke: #fff
    stroke-linecap: round

//  N LETTER
#nLetter
  stroke-width: 8
  stroke-dasharray: nLetterPathLength
  stroke-dashoffset: -(nLetterPathLength)
  opacity: 0
  animation: nLetterIn (duration*3) easing forwards
  @keyframes nLetterIn
    100%
      opacity: 1
      stroke-dashoffset: 0
.waiting #nLetter
  stroke-dashoffset: 0
  opacity: 1
  animation: nLetterOut (duration*1.5) easing forwards
  @keyframes nLetterOut
    100%
      opacity: 0
      stroke-dashoffset: nLetterPathLength
.waiting.page #nLetter
  opacity: 0
  animation: none
