nucubucFlat-height= baseline*1.25
nucubucFlat-width= 110px
nucubucFlat-margin= 10px
nPathLength= 29
cPathLength= 28
bPathLength= 47

//  NUCUBUC FLAT
#nucubucFlat
  width: nucubucFlat-width + nucubucFlat-margin
  height: nucubucFlat-height
  div, svg
    display: block
    makeAbsolute()

//  SYMBOL
#nucubucFlat .symbol
  width: nucubucFlat-height
  height: nucubucFlat-height
  margin-{align}: - translate
  border-radius: 50%
  hasTransition: durationAlt duration
.survey.callback.success #nucubucFlat .symbol
  margin-{align}: 0
  background-color: rgba(0, 0, 0, .3)
@media (min-width: delta)
  .survey #nucubucFlat .symbol
    margin-{align}: 0
    background-color: rgba(0, 0, 0, .3)

//  SVG
#nucubucFlat svg
  makeAbsolute: 5px nucubucFlat-margin
  fill: none
  stroke: #fff
  stroke-linecap: round
  stroke-width: 4
#nucubucFlat svg path
  opacity: 0
  multiTransition: 1 7 durationAlt duration
  //  N & U LETTERS
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6)
    stroke-dasharray: nPathLength
    stroke-dashoffset: -(nPathLength)
  //  C LETTERS
  &:nth-child(3),
  &:nth-child(7)
    stroke-dasharray: cPathLength
    stroke-dashoffset: cPathLength
  //  B LETTER
  &:nth-child(5)
    stroke-dasharray: bPathLength
    stroke-dashoffset: bPathLength
.survey.callback.success #nucubucFlat svg path
  opacity: 1
  stroke-dashoffset: 0
@media (min-width: delta)
  .survey #nucubucFlat svg path
    opacity: 1
    stroke-dashoffset: 0
