.spans > span
  display: inline-block
  hasTransition()
.current .spans > span
  transform: translateY(0) !important
  multiTransition: 1, 15, step

h2.spans > span:not(:last-child)
  margin-{align-alt}: 4px
