.spans > span
  display: inline-block
  opacity: 0
  hasTransition()
.current .spans > span
  opacity: 1
  transform: translateY(0) !important
  multiTransition: 1, 15, step

h2.spans > span
  transform: translateY(baseline)
  &:not(:last-child)
    margin-{align-alt}: 4px
