//  INTRO REGULAR
@font-face
  font-family: 'Intro'
  font-weight: 500
  font-style: normal
  src:  url("../fonts/Intro-Regular.eot")
  src:  url("../fonts/Intro-Regular.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Intro-Regular.woff2") format('woff2'),
        url("../fonts/Intro-Regular.woff") format('woff'),
        url("../fonts/Intro-Regular.ttf") format('truetype'),
        url("../fonts/Intro-Regular.svg#Intro-Regular") format('svg')

//  INTRO BOLD
@font-face
  font-family: 'Intro'
  font-weight: 700
  font-style: normal
  src:  url("../fonts/Intro-Bold.eot")
  src:  url("../fonts/Intro-Bold.eot?#iefix") format('embedded-opentype'),
        url("../fonts/Intro-Bold.woff2") format('woff2'),
        url("../fonts/Intro-Bold.woff") format('woff'),
        url("../fonts/Intro-Bold.ttf") format('truetype'),
        url("../fonts/Intro-Bold.svg#Intro-Bold") format('svg')
