baseline= 28px
translate= baseline/2

//  COLORS
magenta= #c657a0
magenta-alt= #863b6c

nuc1= rgba(248, 0, 255, .5)
nuc2= rgba(241, 90, 34, .5)
nuc3= rgba(0, 174, 239, .5)
nuc4= rgba(234, 234, 0, .5)

background= white
border-default= #eee
border-dark= #ddd

text-dark= #464646
text-default= #727272
text-light= #929292
text-light-alt= #aaa

selection-bg= magenta
selection-color= white

outline= 1px dashed
outline-color= text-dark
hasOutline()
  &, &:hover
    outline: outline transparent
  &:focus
    outline: outline outline-color

easing= cubic-bezier(0.190,1.000,0.220,1.000)
duration= .5s
transition= all duration easing
hasTransition(x=1, delay=0, y=0)
  transition: all ((duration*x)+delay) easing unit(delay+y, 's')
