baseline= 21px
//  BASELINE GUIDE
//   7 :  (baseline/3)
//  14 :  (baseline/3*2)
//  21 :  baseline
//  28 :  baseline+(baseline/3)
//  35 :  baseline+(baseline/3*2)
//  42 :  baseline*2
//  49 :  baseline*2+(baseline/3)
//  56 :  baseline*2+(baseline/3*2)
//  63 :  baseline*3
//  70 :  baseline*3+(baseline/3)
//  77 :  baseline*3+(baseline/3*2)
//  84 :  baseline*4


//  RESPONSIVE
//alpha=  320px
//beta=   500px
//gamma=  600px
//delta=  992px


//  COLORS
magenta= #c657a0
magenta-alt= #863b6c

nuc1= rgba(248, 0, 255, .5)
nuc2= rgba(241, 90, 34, .5)
nuc3= rgba(0, 174, 239, .5)
nuc4= rgba(234, 234, 0, .5)

background= white
border-default= #eee
border-dark= #ddd

text-dark= #464646
text-default= #727272
text-light= #929292
text-light-alt= #aaa

selection-bg= magenta
selection-color= white
