baseline= 28px
translate= baseline/2

//  COLORS
magenta= #c657a0
magenta-alt= #863b6c

nuc1= rgba(248, 0, 255, .5)
nuc2= rgba(241, 90, 34, .5)
nuc3= rgba(0, 174, 239, .5)
nuc4= rgba(234, 234, 0, .5)

background= white
border-default= #eee
border-dark= #ddd

text-dark= #464646
text-default= #727272
text-light= #929292
text-light-alt= #aaa

selection-bg= magenta
selection-color= white

outline= 1px dashed
outline-color= text-dark
hasOutline()
  &, &:hover
    outline: outline transparent
  &:focus
    outline: outline outline-color

makeAbsolute(tp=0, al=0, btm=auto, alt=auto)
  position: absolute
  if(tp!=auto)
    top: tp
  if(al!=auto)
    {align}: al
  if(btm!=auto)
    bottom: btm
  if(alt!=auto)
    {align-alt}: alt

step= .03
pattern= 1.16
duration= .5s
easing= cubic-bezier(0.190,1.000,0.220,1.000)
hasTransition(duration=duration, delay=0, d=0)
  transition: all (duration+d) easing unit(delay+d, 's')
multiTransition(min, max, delay=0)
  d= 0
  for i in min..max
    d= (d+step)*pattern
    &:nth-child({i})
      hasTransition(duration, delay, d)

surveyWidth= 60%
presentHeight= 182px
