extends ../layouts/mails

//- TITLE
block title
  title Nucubuc Survey - New Feedback Received

//- HEADER
block header
  span
    |Hello 
    span(style="font-weight: 700;") Yahia Refaiea
    |,
    br
    |You have a new feedback to look at
