extends ../layouts/mails

//- TITLE
block title
  title Nucubuc Survey - New Feedback Received

//- HEADER
block header
  span
    |Hello 
    span(style="font-weight: 700;") Yahia Refaiea
    |,
    br
    |You have a new feedback to look at

//- COVER
block cover
  img(src="../includes/images/mails/nucubuc-cover.png" width="100%"
      style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 28px; line-height: 210px; color: #9e4680;"
      alt="Nucubuc Cover" title="Nucubuc Cover")

//- CONTENT
block content
  span(style="display: block; margin-bottom: 21px;") Sed Do has just sent a feedback to the Nucubuc survey.
  
  span(style="display: block; margin-bottom: 7px; font-size: 12px; line-height: 21px; color: #929292;") 01. Overall, how are you feeling about Nucubuc?
  span(style="display: block; margin-bottom: 21px; color: #545454;") Satisfied
  
  span(style="display: block; margin-bottom: 7px; font-size: 12px; line-height: 21px; color: #929292;") 02. How did you spell Nucubuc for the first time?
  span(style="display: block; margin-bottom: 21px; color: #545454;") Nokbok
  
  span(style="display: block;")
    |Keep up the good work,
    br
    |Team Nucubuc
