extends ../layouts/mails

//- TITLE
block title
  title Team Nuotron - Thanks for your help

//- HEADER
block header
  span
    |Hello 
    span(style="font-weight: 700;") Sed Do
    |,
    br
    |Thank you for helping us by taking the survey

//- COVER
block cover
  img(src="../includes/images/mails/love-cover.png" width="100%"
      style="display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 28px; line-height: 210px; color: #9e4680;"
      alt="Nuotron Cover" title="Nuotron Cover")

//- CONTENT
block content
  span(style="display: block; margin-bottom: 7px;") Words fail to describe the kind of contribution that you brought to us. We can never forget your help. It's something which is indeed quite valuable to us.
  span(style="display: block; margin-bottom: 7px;") We'll try to come up with a better product or service based on your feedback and what matters for what you're doing.
  span(style="display: block;")
    |Keep up the good work,
    br
    |Team Nuotron
