input-height= baseline*1.25
input-padding= 0
input-border= 3px
input-radius= 0

input-family= inherit
input-font= inherit
input-weight= inherit

input-bg= transparent
input-color= text-dark
input-placeholder= text-light

range-margin= baseline/2
range-height= 6px

range-track-color= border-dark
range-progress-color= magenta

range-thumb-normal= 16px
range-thumb-hover= 24px
range-thumb-active= 34px

range-thumb-shadow-normal= 0 0 0 7px rgba(198, 87, 160, .21)
range-thumb-shadow-hover= 0 0 0 10px rgba(198, 87, 160, .28)
range-thumb-shadow-active= 0 0 0 14px rgba(198, 87, 160, .28)

form
  margin: 0

//  INPUT AND TEXTAREA
input, textarea
  display: block
  width: 100%
  height: input-height
  margin: 0
  padding: input-padding
  border: none
  border-radius: input-radius

  font-family: input-family
  font-size: input-font
  font-weight: input-weight
  line-height: input-height
  vertical-align: middle

  hasTransition()
  background-color: input-bg
  color: input-color

  &,
  &:hover,
  &:focus
    outline: 0
    box-shadow: none

  +placeholder()
    color: input-placeholder
    opacity: 1 !important

  //  YELLOW BACKGROUND CHROME
  &:-webkit-autofill
    -webkit-box-shadow: inset 0 0 0 1000px background

//  TEXTAREA
textarea
  resize: none
  box-sizing: content-box
  min-height: auto
  height: baseline*4 + 1px
  line-height: baseline
  padding-bottom: baseline*.25 - 1px

//  FIELD
.field
  position: relative
  border-bottom: input-border solid border-dark
  .effect
    makeAbsolute: auto 30% (- input-border) 30%
    height: input-border
    hasTransition()
  input, textarea
    &:hover ~ .effect,
    &:focus ~ .effect
      background-color: magenta
    &:hover ~ .effect
      {align}: 20%
      {align-alt}: 20%
    &:focus ~ .effect
      {align}: 0
      {align-alt}: 0
.fields .field:not(:last-child)
  margin-bottom: baseline*.75

//  INPUT HIDDEN
inputHidden()
  overflow: hidden
  position: absolute
  margin: -1px
  padding: 0
  border: 0
  width: 1px
  height: 1px
  opacity: 0
  visibility: hidden
  clip: rect(0 0 0 0)

//  RADIO
.radio
  display: block
  input
    inputHidden()
  .button
    margin: 0 auto
    buttonDisabled()
    focusEffect(rgba(0, 0, 0, .25))
    &:hover
      buttonNormal()
  input:checked ~ .button
    buttonHover()
    hasTransition: duration step*3
    &:after
      background-color: transparent

//  RANGE TRACK AND THUMB
rangeTrack()
  width: 100%
  height: range-height
  border: none
  border-radius: (range-height/2)
  background-color: range-track-color
rangeThumb()
  width: range-thumb-normal
  height: range-thumb-normal
  border: 0
  border-radius: 50%
  hasTransition()
  box-shadow: range-thumb-shadow-normal
  background-color: range-progress-color
rangeHover()
  width: range-thumb-hover
  height: range-thumb-hover
  box-shadow: range-thumb-shadow-hover
  cursor: grab
rangeActive()
  width: range-thumb-active
  height: range-thumb-active
  box-shadow: range-thumb-shadow-active
  cursor: grabbing

//  RANGE
.range input
  width: 100%
  height: range-height + range-margin*2
  appearance: none
  cursor: pointer
  &:active
    cursor: grabbing

  //  TRACK
  // &::-webkit-slider-runnable-track,
  // &::-moz-range-track,
  // &::-ms-track
  //   @extend .range-track
  // &::-ms-track
  //   background-color: transparent
  //   color: transparent
  //   border: solid transparent
  //   border-width: (range-thumb-normal/2) 0

  // PROGRESS
  // &::-moz-range-progress
  //   @extend .range-track
  //   background-color: range-progress-color
  // &::-ms-fill-upper
  //   background-color: range-track-color
  // &::-ms-fill-lower
  //   background-color: range-progress-color

  // THUMB
  // &::-moz-range-thumb,
  // &::-webkit-slider-thumb,
  // &::-ms-thumb
  //   @extend .range-thumb
  // &::-webkit-slider-thumb
  //   appearance: none
  //   margin-top: ((range-height - range-thumb-normal)/2)
  // &::-ms-thumb
  //   margin-top: 0
  // &:hover
  //   &::-moz-range-thumb,
  //   &::-webkit-slider-thumb,
  //   &::-ms-thumb
  //     @extend .range-hover
  // &:active
  //   &::-moz-range-thumb,
  //   &::-webkit-slider-thumb,
  //   &::-ms-thumb
  //     @extend .range-active
