input-height= baseline*1.25
input-padding= 0
input-border= 3px
input-radius= 0

input-family= inherit
input-font= inherit
input-weight= inherit

input-bg= transparent
input-color= text-dark
input-placeholder= text-light

form
  margin: 0

//  INPUT AND TEXTAREA
input, textarea
  display: block
  width: 100%
  height: input-height
  margin: 0
  padding: input-padding
  border: none
  border-radius: input-radius

  font-family: input-family
  font-size: input-font
  font-weight: input-weight
  line-height: input-height
  vertical-align: middle

  hasTransition()
  background-color: input-bg
  color: input-color

  &,
  &:hover,
  &:focus
    outline: 0
    box-shadow: none

  +placeholder()
    color: input-placeholder
    opacity: 1 !important

  //  YELLOW BACKGROUND CHROME
  &:-webkit-autofill
    -webkit-box-shadow: inset 0 0 0 1000px background

//  TEXTAREA
textarea
  resize: none
  box-sizing: content-box
  min-height: auto
  height: baseline*4 + 1px
  line-height: baseline
  padding-bottom: baseline*.25 - 1px

//  FIELD
.field
  position: relative
  border-bottom: input-border solid border-dark
  .effect
    makeAbsolute: auto 30% (- input-border) 30%
    height: input-border
    hasTransition()
  input, textarea
    &:hover ~ .effect,
    &:focus ~ .effect
      background-color: magenta
    &:hover ~ .effect
      {align}: 20%
      {align-alt}: 20%
    &:focus ~ .effect
      {align}: 0
      {align-alt}: 0
.fields .field:not(:last-child)
  margin-bottom: baseline*.75
