heading-color= text-dark
heading1-height= baseline*1.25
small-height= baseline*.75

outline= 1px dashed
outline-color= text-dark
hasOutline()
  &, &:hover
    outline: outline transparent
  &:focus
    outline: outline outline-color

//  HEADING
h1, h2
.h1, .h2
  margin: 0
  color: heading-color

h1, .h1
  font-size: font-heading1
  font-weight: weight-bold
  line-height: heading1-height
h2, .h2
  font-size: font-heading2

//  PARAGRAPH
p, .p
  margin: 0

//  SMALL
small, .small
  font-size: font-small
  line-height: small-height

//  ANCHOR
a
  cursor: pointer
  transition: transition
  color: inherit
  hasOutline()
  &, &:hover
    text-decoration: none
