heading-color= text-dark
heading1-height= baseline*1.25
small-height= baseline*.75

link-color= text-dark
link-height= 10px
link-bg= rgba(0, 0, 0, .2)

//  HEADING
h1, h2
.h1, .h2
  margin: 0
  color: heading-color

h1, .h1
  font-size: font-heading1
  font-weight: weight-bold
  line-height: heading1-height
h2, .h2
  font-size: font-heading2

//  PARAGRAPH
p, .p
  margin: 0

//  SMALL
small, .small
  font-size: font-small
  line-height: small-height

//  ANCHOR
a
  cursor: pointer
  transition: transition
  color: inherit
  hasOutline()
  &, &:hover
    text-decoration: none
  &.link
    display: inline-block
    position: relative
    &:before
      content: ''
      z-index: -1
      display: block
      position: absolute
      bottom: 15%
      {align}: 0
      width: 100%
      height: link-height
      transition: transition
      transform: translateY(translate)
    &:hover, &:focus
      color: link-color
      &:before
        background-color: link-bg
        transform: translateY(0)
